body {
    background-color: rgb(238, 238, 238);
}

.buttons {
    margin-top: 10px;
}

.hero-body {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-image: url("https://wallpaperaccess.com/full/271679.jpg");
    
}
#storedRecipe {
    
}
#recipe {
    border: 2px solid black;
    border-radius: 5px;
}
#drinks {
    border: 2px solid black;
    border-radius: 5px;
}
.jokes {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: larger;
}
footer {
    
    font-size: 15px;
}
