.hero-body {
    text-align: center;
    background-color: grey;
}
#storedRecipe {
    
}
#recipe {
    background-color: cadetblue;
}
#drinks {
    background-color: coral;
}
#jokes {
    background-color: grey;
}
#jokes {
    text-align: center;
}